<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="MyConsole" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <!--系统文件SysLog_适配器 -->
    <appender name="SystemAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="1MB" />
      <param name="Encoding" value="utf-8" />
      <param name="File" type="" value="Logs/Sys_" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <!--异常文件ExceptionLog_适配器-->
    <appender name="ExceptionAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="1MB" />
      <param name="Encoding" value="utf-8" />
      <param name="File" type="" value="Logs/Exception_" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="MyConsole" />
    </root>
    <!--程序异常日志记录器-->
    <logger name="ExceptionLogger">
      <level value="ALL" />
      <appender-ref ref="ExceptionAppender" />
    </logger>
    <!--系统日志记录器-->
    <logger name="SystemLogger">
      <level value="ALL" />
      <appender-ref ref="SystemAppender" />
    </logger>
  </log4net>
  <!--layout属性可参考：https://www.cnblogs.com/zhangchenliang/p/4546352.html-->
</configuration>