<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
              layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="debugger" xsi:type="File"  maxArchiveFiles="30"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}"
        fileName="Logs/${level}_${shortdate}.log" />

    <target name="error_file" xsi:type="File" maxArchiveFiles="30"
          archiveAboveSize="10240"
      layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}"
      fileName="Logs/${level}_${shortdate}.log" />
    
  </targets>
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" minlevel="Debug" maxlevel="Warn"  writeTo="debugger" />
    <logger name="*" minlevel="Error" writeTo="error_file" />
  </rules>
  <!--layout属性可参考：https://blog.csdn.net/u013667895/article/details/79016059-->
</nlog>